zipp==3.21.0
stack-data==0.6.3
six==1.17.0
pyzmq==26.2.0
python-dateutil==2.9.0.post0
pygments==2.18.0
psutil==6.1.0
prompt-toolkit==3.0.48
platformdirs==4.3.6
parso==0.8.4
packaging==24.2
nest-asyncio==1.6.0
matplotlib-inline==0.1.7
jupyter-core==5.7.2
jupyter-client==8.6.3
jedi==0.19.2
ipykernel==6.29.5
importlib-metadata==8.5.0
executing==2.1.0
exceptiongroup==1.2.2
decorator==5.1.1
debugpy==1.8.9
comm==0.2.2
colorama==0.4.6
asttokens==3.0.0
-illow==11.0.0
zope.interface==7.2
zope.event==5.0
yarg==0.1.9
xgboost==2.1.3
wrapt==1.17.1
widgetsnbextension==4.0.13
werkzeug==3.0.6
webencodings==0.5.1
weasel==0.4.1
wcwidth==0.2.9
wasmtime==27.0.2
wasabi==1.1.3
urllib3==1.26.18
tzdata==2023.3
typing-extensions==4.12.2
types-python-dateutil==2.9.0.20241206
typer==0.15.1
typeguard==2.13.3
transformers==4.48.1
traitlets==5.13.0
tqdm==4.64.1
tornado==6.3.3
tomli==2.2.1
tokenizers==0.21.0
tinycss2==1.4.0
tifffile==2024.8.30
threadpoolctl==3.5.0
thinc==8.2.5
tenacity==9.0.0
tabulate==0.9.0
statsmodels==0.14.4
srsly==2.5.0
sqlglot==26.0.0
SQLAlchemy==2.0.36
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-applehelp==2.0.0
sphinx==7.4.7
sphinx-rtd-theme==3.0.2
spacy==3.7.5
spacy-lookups-data==1.0.5
spacy-loggers==1.0.5
spacy-legacy==3.0.12
soupsieve==2.6
snowballstemmer==2.2.0
smart-open==7.1.0
slicer==0.0.8
sklearn-evaluation==0.12.2
shellingham==1.5.4
shap==0.46.0
setuptools==58.1.0
segment-analytics-python==2.2.3
seaborn==0.13.2
scipy==1.13.1
scikit-learn==1.6.1
scikit-image==0.22.0
salib==1.5.1
safetensors==0.5.2
rpds-py==0.22.3
rich==13.9.4
retrying==1.3.4
requests==2.32.3
regex==2024.11.6
referencing==0.35.1
quickjs==1.19.4
PyYAML==6.0.2
pywin32==306
pytz==2023.3.post1
pytest==8.3.4
pypdf2==3.0.1
pyparsing==3.2.0
pygwalker==0.4.9.13
pydantic==2.10.3
pydantic-core==2.27.1
pycparser==2.22
pycebox==0.0.1
pyarrow==18.1.0
pure-eval==0.2.2
psygnal==0.11.1
preshed==3.0.9
pqdm==0.2.0
posthog==3.7.4
pluggy==1.5.0
plotly==5.24.1
ploomber-extension==0.1.1
ploomber-core==0.2.26
pipreqs==0.5.0
pip==22.0.4
pillow==10.4.0
pickleshare==0.7.5
PDPbox==0.3.0
patsy==1.0.1
pathspec==0.12.1
pandocfilters==1.5.1
pandas==2.2.3
numpydoc==1.8.0
numpy==1.26.4
numba==0.60.0
networkx==3.2.1
nbformat==5.10.4
nbconvert==7.16.6
nbclient==0.10.2
mypy-extensions==1.0.0
murmurhash==1.0.11
multiprocess==0.70.17
monotonic==1.6
mistune==3.0.2
mdurl==0.1.2
matplotlib==3.9.3
MarkupSafe==3.0.2
markdown-it-py==3.0.0
marisa-trie==1.2.1
llvmlite==0.43.0
lime==0.2.0.1
lazy-loader==0.4
language-data==1.3.0
langcodes==3.5.0
kiwisolver==1.4.7
kanaries-track==0.0.5
jupyterlab-widgets==3.0.13
jupyterlab-pygments==0.3.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
joblib==1.4.2
jinja2==3.1.4
itsdangerous==2.2.0
ipywidgets==8.1.5
ipython==8.12.3
ipylab==1.0.0
interpret==0.6.9
interpret-core==0.6.9
iniconfig==2.0.0
importlib-resources==6.4.5
imagesize==1.4.1
imageio==2.37.0
idna==3.10
huggingface-hub==0.27.1
htmlmin==0.1.12
gw-dsl-parser==0.1.49.1
greenlet==3.1.1
gevent==24.11.1
fsspec==2024.12.0
fonttools==4.55.2
flask==3.0.3
filelock==3.17.0
fastjsonschema==2.18.1
duckdb==1.1.3
docutils==0.21.2
docopt==0.6.2
dill==0.3.9
defusedxml==0.7.1
dateutils==0.6.12
dash==2.18.2
dash-table==5.0.0
dash-html-components==2.0.0
dash-cytoscape==1.0.2
dash-core-components==2.0.0
cymem==2.0.10
cycler==0.12.1
contourpy==1.3.0
confection==0.1.5
cloudpickle==3.1.1
cloudpathlib==0.20.0
click==8.1.7
charset-normalizer==3.4.0
cffi==1.17.1
certifi==2024.12.14
catalogue==2.0.10
cachetools==5.5.0
bounded-pool-executor==0.0.3
blis==0.7.11
blinker==1.9.0
bleach==6.2.0
black==24.10.0
beautifulsoup4==4.12.3
backoff==2.2.1
backcall==0.2.0
babel==2.16.0
attrs==23.2.0
astor==0.8.1
arrow==1.3.0
appdirs==1.4.4
aplr==10.8.0
anywidget==0.9.13
annotated-types==0.7.0
alibi==0.9.6
alabaster==0.7.16
